<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>スラスラスラック</title>
</head>
<body id="stream">
<table id="stream_table"></table>
<div style="display: none;">
    <div id="template_message">
        <div class="">
            <img class="profile">
            <div class="right_side">
                <span class="channel"></span>
                <span class="name"></span>
                <span class="date"></span>
                <p class="message"></p>
            </div>
        </div>
    </div>
</div>
<script src="../lib/app.js"></script>
</body>
</html>